*, *::before, *::after { 
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }

    :root{
        --primary: #0d495d;
        --secondary: #1e90ff;
    }

body {
    background: var(--primary);
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 115vh;
    min-width: 100vh;
    font-size: 20px;
}

.content {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    padding: 10px;
}

#timer {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    padding: 10px;
    font-size: 1.5rem;
    text-align: center

}

#highscore-btn {
    background-color: var(--secondary);
    border-radius: 5px;
    padding: 10px 50px;
    color: white;
    outline: none;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 25px;
}

.highscore-btn:hover {
    border-color: black;
    cursor: pointer;
    box-shadow: 0px 2px 6px 0 black;
}

.page-content {
    width: 800px;
    max-width: 100% ;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 0 0 10px 2px;
}

#question {
    text-align: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    padding-top: 25px;
    padding-bottom: 30px;
}

.btn-grid {
    display: grid;
    gap: 20px;
    margin: 20px 0;
    grid-template-columns: max-content;
    justify-content: center;
    
}

.btn {
    background-color: var(--secondary);
    border-radius: 5px;
    padding: 10px 40px;
    color: white;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 25px;
}

.btn:hover {
    border-color: black;
    cursor: pointer;
    box-shadow: 0px 2px 6px 0 black;
}

.quiz-btn, .continue-btn {
    font-size: 2.0rem;
    padding: 10px 80px;
    cursor: pointer;
    position: absolute;
    margin-top: 5%;
    margin-right: 53%;
}

.controls {
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 33%;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 200px
}

.content-table thead tr {
    background-color: var(--secondary);
    color: white;
    text-align: left;
    font-weight: bold;
}

.content-table th, .content-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
}


.hide {
    display: none;
}   

@media screen and (max-width: 780px) {
    .choice-content {
        min-width: 40rem;
    }
}
